<!DOCTYPE html>
<html>
<head>
    <title><%= blocks.title  %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/vendor/bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="/vendor/bower_components/jquery/dist/jquery.js"></script>
    <script src="/vendor/bower_components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>


<div class="container">
    <%-partial('../partials/topNav')%>
   <%-body%>




</div>
<script>

</script>
</body>
</html>
